<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue入门</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <div>
            <input v-model="inputValue"/>
            <button @click="handleSublit">提交</button>
        </div>
        <ul>
            <todo-item
                v-for="(item, index) of list"
                :key="index"
                :content="item"
                :index="index"
                @delete="handleDelete"
            >
            </todo-item>
        </ul>
    </div>
    <script>
        Vue.component('todo-item', {
            props: ['content', 'index'],
            template: '<li @click="handleClick">{{content}}</li>',
            methods: {
                handleClick: function () {
                    this.$emit('delete', this.index)
                }
            }
        })
        
        // var TodoItem = {
        //     template: '<li>item</li>'
        // }

        new Vue({
            el: "#root",
            // components: {
            //     'todo-item': TodoItem
            // },
            data: {
                inputValue: "",
                list: []
            },
            methods: {
                handleSublit: function () {
                    this.list.push(this.inputValue)
                    this.inputValue = ""
                },
                handleDelete: function (index) {
                    this.list.splice(index, 1)
                }
            }
        })
        
    </script>
</body>

</html>