[user]
	email = realwujing@qq.com 
	name = wujing 
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	template = ~/.gitcommit_template
[sendemail]
    smtpServer = smtp.qq.com
    smtpServerPort = 587
    smtpEncryption = tls
    smtpUser = realwujing@qq.com
    smtpPass = kpdkskfgpbaxsrnwbifi
[core]
	excludesFile = /root/.gitignore_global
