[submodule "Linux-0.11-zhaojiong"]
	path = kernel/Linux-0.11-zhaojiong
	url = https://github.com/realwujing/Linux-0.11.git
[submodule "Linux-0.11-yuan-xy"]
	path = kernel/Linux-0.11-yuan-xy
	url = https://github.com/realwujing/Linux-0.11-1.git
[submodule "assembly"]
	path = assembly
	url = https://github.com/realwujing/assembly-learning.git
	branch = main
[submodule "k8s"]
	path = k8s
	url = https://github.com/realwujing/k8s-learning.git
	branch = main
[submodule "gdb"]
	path = gdb
	url = https://github.com/realwujing/gdb-learning.git
	branch = main
[submodule "bpf"]
	path = bpf
	url = https://github.com/realwujing/bpf-learning.git
	branch = main
[submodule "system-architect"]
	path = system-architect
	url = https://github.com/realwujing/system-architect-learning.git
    	branch = main
[submodule "patent"]
	path = patent
	url = https://github.com/realwujing/patent.git
[submodule "debug/kernel/namespace"]
	path = kernel/namespace
	url = https://github.com/realwujing/namespace.git
[submodule "binaryanalysis"]
	path = binaryanalysis
	url = https://github.com/realwujing/binaryanalysis.git
[submodule "git"]
	path = git
	url = git@github.com:realwujing/git-learning.git
	branch = main
[submodule "cpp"]
	path = cpp
	url = https://github.com/realwujing/cpp-learning.git
[submodule "leetcode"]
	path = leetcode
	url = https://github.com/realwujing/LeetCode.git
