# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.cmd

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt
.gdb_history

.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
linux/kernel/books/UEFI编程实践.pdf

linux/kernel/drivers/baohua/develop/linux

!linux/kernel/drivers/baohua/develop/linux/arch/arm/configs
!linux/kernel/drivers/baohua/develop/linux/arch/arm64/configs
!linux/kernel/drivers/baohua/develop/linux/arch/x86/configs

linux/kernel/qemu/images/linux-rootfs
linux/kernel/qemu/images/buster.img

linux/kernel/drivers/usb/udl/2023*

**/cmake-objdump/*/debian
**/cmake-objdump/*/.cache
!**/cmake-objdump/*/CMakeLists.txt

*.cap
*.objdump
*.data

linux/vim/.vim/
linux/kernel/gcov/gcov-zy/RPMS/noarch/gcov-zy-1.0-1.ctl2.noarch.rpm
linux/kernel/gcov/gcov-zy/SOURCES/ctsecfs.sh
linux/kernel/gcov/gcov-zy/SOURCES/keys/security_pkey.pem
linux/kernel/gcov/gcov-zy/SOURCES/keys/security.key
linux/kernel/gcov/gcov-zy/SPECS/gcov-zy.spec
linux/kernel/gcov/gcov-zy/SRPMS/gcov-zy-1.0-1.ctl2.src.rpm
linux/docker/ctyunos/ctyunos2-docker-2-24.07.x86_64.tar
linux/docker/ctyunos/ctyunos2-docker-22.06.02.x86_64.tar
linux/docker/ctyunos/yum_list.tar.gz
linux/kernel/bugs/zy
GPATH
GRTAGS
GTAGS
*.tar.xz
!**/*/vmcore-dmesg.txt
**/*/vmcore
python/books/机器学习_周志华.pdf