[submodule "Linux-0.11"]
	path = Linux-0.11
	url = https://github.com/Yuandong-Chen/Linux-0.11.git
[submodule "debug/Linux-0.11"]
	path = debug/Linux-0.11
	url = https://github.com/yuan-xy/Linux-0.11.git
[submodule "assembly"]
	path = assembly
	url = https://github.com/realwujing/assembly-learning.git
