# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.cmd

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt
.gdb_history

.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
linux/kernel/books/UEFI编程实践.pdf

linux/kernel/drivers/baohua/develop/linux

!linux/kernel/drivers/baohua/develop/linux/arch/arm/configs
!linux/kernel/drivers/baohua/develop/linux/arch/arm64/configs
!linux/kernel/drivers/baohua/develop/linux/arch/x86/configs
