[submodule "Linux-0.11"]
	path = Linux-0.11
	url = https://github.com/realwujing/Linux-0.11.git
[submodule "debug/Linux-0.11"]
	path = debug/Linux-0.11
	url = https://github.com/realwujing/Linux-0.11-1.git
[submodule "assembly"]
	path = assembly
	url = https://github.com/realwujing/assembly-learning.git
	branch = main
[submodule "k8s"]
	path = k8s
	url = https://github.com/realwujing/k8s-learning.git
	branch = main
[submodule "debug/gdb"]
	path = debug/gdb
	url = https://github.com/realwujing/gdb-learning.git
	branch = main
[submodule "debug/ebpf"]
	path = debug/bpf
	url = https://github.com/realwujing/ebpf-learning.git
	branch = main
[submodule "system-architect"]
	path = system-architect
	url = https://github.com/realwujing/system-architect-learning.git
    	branch = main
[submodule "patent"]
	path = patent
	url = https://github.com/realwujing/patent.git
[submodule "debug/kernel/namespace"]
	path = debug/kernel/namespace
	url = https://github.com/realwujing/namespace.git
[submodule "binaryanalysis"]
	path = binaryanalysis
	url = https://github.com/realwujing/binaryanalysis.git
[submodule "git"]
	path = git
	url = git@github.com:realwujing/git-learning.git
	branch = main

