Thumbs.db
*.log
*.bak
.DS_Store

Image
System.map
boot/bootsect
boot/bootsect.o
boot/head.o
boot/setup
boot/setup.o
fs/bitmap.o
fs/block_dev.o
fs/buffer.o
fs/char_dev.o
fs/exec.o
fs/fcntl.o
fs/file_dev.o
fs/file_table.o
fs/fs.o
fs/inode.o
fs/ioctl.o
fs/namei.o
fs/open.o
fs/pipe.o
fs/read_write.o
fs/stat.o
fs/super.o
fs/truncate.o
init/main.o
kernel/asm.o
kernel/blk_drv/blk_drv.a
kernel/blk_drv/floppy.o
kernel/blk_drv/hd.o
kernel/blk_drv/ll_rw_blk.o
kernel/blk_drv/ramdisk.o
kernel/chr_drv/chr_drv.a
kernel/chr_drv/console.o
kernel/chr_drv/keyboard.o
kernel/chr_drv/keyboard.s
kernel/chr_drv/rs_io.o
kernel/chr_drv/serial.o
kernel/chr_drv/tty_io.o
kernel/chr_drv/tty_ioctl.o
kernel/exit.o
kernel/fork.o
kernel/kernel.o
kernel/math/math.a
kernel/math/math_emulate.o
kernel/mktime.o
kernel/panic.o
kernel/printk.o
kernel/sched.o
kernel/signal.o
kernel/sys.o
kernel/system_call.o
kernel/traps.o
kernel/vsprintf.o
kernel/who.o
lib/_exit.o
lib/close.o
lib/ctype.o
lib/dup.o
lib/errno.o
lib/execve.o
lib/lib.a
lib/malloc.o
lib/open.o
lib/setsid.o
lib/string.o
lib/wait.o
lib/write.o
mm/memory.o
mm/mm.o
mm/page.o
tools/system

