#version=DEVEL
# Use text mode install
text


%packages
@^virtualization-environment

%end

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=ctyun

# Use hard drive installation media
harddrive --dir= --partition=LABEL=ctyunos-22.06-aarch64

# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart
# Partition clearing information
clearpart --all --initlabel --drives=sda

timesource --ntp-server=c
# System timezone
timezone Asia/Shanghai --utc

# Root password
rootpw --iscrypted $6$h5gkUiVZM8..8dpz$ZOjaPydUbNBirm5xav6h5jqS.Pg6AvkudwJ/4zbsolOvZ1517otOLZjP95tDw.h5to.GRVSmoZ5dPRDQDjN8O1
user --groups=wheel --name=wujing --password=$6$VVTDbxaN4A2UDxtK$ZiMmfrvUhPuPj8Pk876vH1NO5iTAVUL/tkrXXb8WKNqmVz3XD4/oesz4niXf7nzNXjssQywA2YMtvvW4tw2vB. --iscrypted --gecos="wujing"

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=8 --minquality=1 --strict --nochanges --notempty
pwpolicy user --minlen=8 --minquality=1 --strict --nochanges --emptyok
pwpolicy luks --minlen=8 --minquality=1 --strict --nochanges --notempty
%end
