Package: debhello-dbgsym
Source: debhello
Version: 0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: "Firstname Lastname" <email.address@example.org>
Installed-Size: 18
Depends: debhello (= 0.0-1)
Section: debug
Priority: optional
Description: debug symbols for debhello
Build-Ids: b074570af4bef00bb0b26b9042c525027a321483
