[Unit]
Description=taskset ksmd
After=sysinit.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c '/usr/lib/ctyunos/ksmd_taskset.sh'

[Install]
WantedBy=multi-user.target