[Unit]
Description=taskset ksmd
After=sysinit.target
Before=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /usr/lib/ctyunos/ksmd_taskset.sh
ExecStop=/usr/bin/bash -c 'if [ -f /run/ksmd_taskset.pid ]; then pid=$(cat /run/ksmd_taskset.pid); if ps -p $pid > /dev/null 2>&1; then kill -15 $pid; fi; rm -f /run/ksmd_taskset.pid; fi'
PIDFile=/run/ksmd_taskset.pid
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

